.nova-flat-regular {
  font-family: "Nova Flat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*General style code for overall website design*/
html {
    scroll-behavior: smooth;
    margin: 20px;
    text-align: center;
    background-color: black;
    color: whitesmoke;
}

/*Body style code*/
body {
    
    font-family: "Nova Flat", sans-serif;
    margin: 0;
    padding-top: inherit;
}

/*Header*/
header {
    color: whitesmoke;
}



/*Style code for h1 tags*/
h1 {
    font-size: 100px;
    padding: 20px;
}

/*Sticky class for sticky positioning*/
.sticky {
    position: sticky;
    background-color: black;
    top: 0;
    left: 0;
    z-index: 1;
}

/*Style code for titles*/
.title {
    text-decoration: underline;
}

/*Style code for top of page link*/
.top{
    color: whitesmoke;
}

/*style code to turn horizontal lines into half width*/
.halfhorizontal {
    width: 50%;
}

/*style code for the contact section of the contact page*/
.contactsection {
    border-style: solid;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    padding-left: 5px;
    padding-right: 5px;
}

/*style for for the links in the contact section*/
.contactsection a{
    text-decoration: none;
    color: whitesmoke;
}

/*style code for the link sections*/
.contactelements {
    border-style: solid;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

/*style change when user hovers over links*/
.contactelements:hover{
    background-color: #ddd;
    color: black;
}

/* The navbar container */
.topnav {
    padding: 20px;
    text-align: center;
    overflow: hidden;
}
  
/* Navbar links */
.topnav a {
    border-style: solid;
    border-radius: 10%;
    color: whitesmoke;
    padding: 14px 16px;
    text-decoration: none;
}
  
/* Links - change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/*Bottom nav links*/
.bottomnav a{
    text-decoration: none;
    color: whitesmoke; 
}

/* Links - change color on hover */
.bottomnav a:hover {
    background-color: #ddd;
    color: black;
}

/*a universal selector to add border box*/
* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 20px;
}
  
/* Clear floats after the columns */
.row::after {
    content: "";
    display: table;
    clear: both;
}
  
/* Responsive layout - changes elements defined within to fit mobile screens */
@media screen and (max-width:600px) {
    /*changes column design to fit mobile screens*/
    .column {
        width: 100%;
    }
    /*hides vertical line on mobile screens*/
    .vertical {
        opacity: 0;
    }
    /*changes contact section design to fit mobile screens*/
    .contactsection {
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }
    /*changes top nav links design to fit mobile screens*/
    .topnav a {
        float: left;
        width: 100%;
    }
    /*changes half horizontal line to fit mobile screens*/
    .halfhorizontal {
        width: 75%;
    }
}

/* This is for a vertical line to separ ate the columns (Design choice)*/
.vertical {
    border-left: 3px solid whitesmoke;
    height: 650px;
    position: absolute;
    left: 50%;
    margin-top: 40px;
}

/*style code for profile pic*/
.ProfilePic {
    width: 250px;
    height: 250px;
    border-radius: 15%;
    padding-bottom: 20px;
}

/*Add style code to images with example img class*/
.ExampleImg {
    width: 50%;
}